* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
    padding: 0;
}

h1,
p {
    font-family: 'Open Sans', sans-serif;
    padding: 12px 0;
    margin: 0;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
}
.textBox h2 {
    width: 100%;
    display: block;
    margin: 10px 0;
}

#display {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.wrapper {
    padding: 10px;
    background: #eef2f7;
    box-sizing: border-box;
    /* border: 1px dashed; */
    overflow: auto;
    /* width: 80vh; */
    position: relative;
    display: flex;
    visibility: hidden;
}

.square {
    position: relative;
    padding-bottom: 100%;
    flex-grow: 1;
}

/* .positionTop {
    position: absolute;
    top: 10px;
    left: 10px;
} */

#container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: auto;
    flex: 1 1 auto;
    /* background-color: #efefef; */
    background-color: #4b4b4b;
    padding: 2px 2px 1px 1px;
    /* visibility: hidden; */
}

.box {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: auto;
    flex: 1 1 0;
    aspect-ratio: 1 / 1;
    /* margin: 1px; */
    background-color: #d6d6d6;
    max-width: 30px;
    max-height: 30px;
    width: 30px;
    height: 30px;
    border-top: 1px solid #efefef;
    border-right: 1px solid #efefef;
    border-left: 1px solid #7a7a7a;
    border-bottom: 1px solid #7a7a7a;
}

.box:hover {
    background-color: #ebebeb;
}

.selected {
    background-color: #ebebeb;
    border: 0.5px solid #7a7a7a;
}

.selectedGameOver {
    background-color: #a8a8a8;
}

.flagged.selectedWrongFlag span {
    background-color: red;
}

.selectedWrongFlag .icon-flag::before {
    color: white;
}

.box p, .box span {
    font-size: 18px;
    line-height: 20px;
    padding: 4px;
    margin: 0;
    visibility: hidden; 
    /* opacity: 0.1; */
    font-weight: 700;
}
#red {
    color: red;
    visibility: visible;
    opacity: 1;
}
#blue {
    color: blue;
    visibility: visible;
    opacity: 1;
}
#green {
    color: green;
    visibility: visible;
    opacity: 1;
}
#bomb {
    color: white;
    background: red;
    visibility: visible;
    opacity: 1;
}
#dark-blue {
    color: rgb(0, 0, 100);
    visibility: visible;
    opacity: 1;
}
#maroon {
    color: maroon;
    visibility: visible;
    opacity: 1;
}
#teal {
    color: teal;
    visibility: visible;
    opacity: 1;
}
#grey {
    color: grey;
    visibility: visible;
    opacity: 1;
}

span.icon {
    width: 30px;
    height: 30px;
}

/* .redBackground {
    
} */

.highlightB {
    background-color: #e99393 !important;
}
.hidden {
    display: none !important;
}
.flagged span {
    visibility: visible !important;
    width: 100%;
    text-align: center;
    height: 100%;
    line-height: 26px;
    background: #ebebeb;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
    flex: 1 1 auto;
    padding: 0;
    background-color: #4b4b4b;
}

.buttonWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 12px;
    height: 62px;
}

button {
    margin: 10px;
}

/* icon styling */
.icon::before {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  }
  
  /* defining the right unicode values for each icon */
  /* bomb */
  .icon-bomb::before {
    font: var(--fa-font-solid);
    content: "\f1e2";
    padding: 2px;
  }

  /* flag */
  .icon-flag::before {
    font: var(--fa-font-solid);
    content: "\f024";
    color: red;
    /* padding: 2px; */
  }
/*   
  .icon-solid::before {
    font: var(--fa-font-solid);
  } */

  #overlay {
      background: rgba(0, 0, 0, 0.7);
      width: 100%;
      height: 100vh;
      position:absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  #overlay .textBox {
    background: #fff;
    /* width: 30%; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
  }

  #overlay .close {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    /* width: 50px;
    height: 50px;
    justify-content: center;
    display: flex;
    align-items: center; */
    align-self: end;
  }

  .close a {
      text-decoration: none;
      color: inherit;
  }

  /* .buttonRow {
      margin: 25px;
  } */

  button {
      border: 2px solid black;
      padding: 10px;
      background: #ffffff;
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      text-transform: uppercase;
  }
  button:hover {
    border: 2px solid black;
    padding: 10px;
    background: #000000;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: #ffffff
}

.copyright {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 13px
}